#article-title {
  font-family:'Staatliches', cursive;
  font-size: xx-large;
}
.title {
  color: maroon;
}

a {
  font-family: 'Raleway', sans-serif;
  text-align:right;
}

.font {
  font-family: 'Raleway', sans-serif;

}

.size {
  font-size: small;
}
