#article-title {
  font-family:'Inconsolata', monospace;
  font-size: 79px;
}

h1 {
  text-align: right;
}
h3 {
  text-align: center;
}
h2 {
  text-align: right;
}
.title {
  color: maroon;
}
a {
  font-family: 'Raleway', sans-serif;
}
.font {
  font-family: 'Raleway', sans-serif;
}
.size {
  font-size: small;
}
