#article-title {
  font-family:'Inconsolata', monospace;
  font-size: 50px;
}
h1,
h3 {
  text-align: center
}
h2 {
  text-align: right;
}
.title {
  color: maroon;
}

a {
  font-family: 'Raleway', sans-serif;

}


.font {
  font-family: 'Raleway', sans-serif;

}

.size {
  font-size: small;
}

.design {
	display: block;
    width: 940px;
   	height: auto;
   	padding:0;
	margin:0 auto;
	position: relative;
	margin-bottom: 4em;
}

.image {
	display: inline-block;
	width:460px;
	height: 300px;
	position: relative;
	float: left;
	padding-bottom: 0;
	margin:0 auto;
	margin: 5px;
	overflow: hidden;
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.image img {
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.overlay {
	background-color: white;
	/*mix-blend-mode: multiply;*/
	opacity: 0;
	z-index: 2;
	width:105%;
	height: 105%;
	position: absolute;
	display: inline;
	top: 0;
	left: 0;
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.image:hover > .overlay {
	opacity: .7;
	cursor: pointer;
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.image:hover > .thumbnail-title {
	opacity: 1;
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}
.image:hover img {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-o-filter:grayscale(100%);
}

.thumbnail-title {
	opacity: 0;
	z-index: 3;
	font-size: 1.5em;
	width: 400px;
	font-family: 'Raleway', sans-serif;
/*	font-family: 'simplon mono regular', sans-serif;*/
	color: black;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-o-transition:.2s ease-in-out;
}

.thumbnail-title > span {
	background-color: #fffc06;
	padding: 5px 0 2px 0;
	box-shadow: 8px 0 0 yellow, -8px 0 0 yellow;;
	cursor: pointer;
}

.title {
	width: 700px;
	display: block;
	height: auto;
   	padding:0;
	/*margin:0 auto;*/
	position: relative;
}

.project-body {
	width: 600px;
	display: block;
	height: auto;
	padding: 0;
	/*margin: 0 auto;*/
	position: relative;
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.8em;
	font-family:'Univers LT W01_45 Light1475944';
}

.quote {
	font-size: 14px;
	font-family:'Univers LT W01_45 Light1475944';
}

.project-image-large {
	width: 940px;
	height: auto;
	display: block;
	padding: 0;
	/*margin: 0 auto;*/
	position: relative;
	margin-top:50px;
	margin-bottom: 50px;
}
.project-image-large img {
	width: 940px;
	height: auto;
}
.project-image {
	width: 600px;
	height: auto;
	display: block;
	padding: 0;
	/*margin: 0 auto;*/
	position: relative;
	margin-top:50px;
	margin-bottom: 50px;
}
.project-image img {
	width: 600px;
	height: auto;
}

.small img {
	width:300px;
	height: auto;
}

.project-image-icon {
	width: 90px;
	height: auto;
	display: block;
	padding: 0;
	/*margin: 0 auto;*/
	position: relative;
	float: left;
/*	margin-top:50px;
	margin-bottom: 50px;*/
}
.project-image-icon img {
	width: 90px;
	height: auto;
}

.portrait img {
	width:100%;
	height: auto;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.landscape img {
	width:auto;
	height: 100%;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
